<!DOCTYPE html>
<html>
  <head>
    <title>MusicBuddy</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar navbar-light" style="background-color: #737476;">
      <%= form_tag :search, method: :get, class: "form-inline" do %>
      <div class="form-group search-field">
        <%= text_field_tag :q, "Search", class: "form-control" %>
        <%= submit_tag "Search", class: "btn", style: "background-color: #4B4C4F;" %>
      </div>
      <% end %>
      <%= link_to "Home", root_path, class:"navbar-brand" %>
    </nav>
    <%= yield %>
  </body>
</html>
